@charset "utf-8";
/*<------------Estilo general, se aplica a todas las páginas--------------------------->*/
body{
    background-color: goldenrod;
}
header{
    background-color: rgb(153, 114, 17);
    padding: 5%;
    margin: -0.5%;
    height: 14em;
}
#titulo{
    text-align: center;
    text-shadow: gray 0 0 0 6px;
    font-size: 4em;
    letter-spacing: 3px;
    font-family: 'Dancing Script', cursive;
}
table{
    border: none 0px black;
    width: 100%;
    height: 5em;
    background-color: white;
}
td{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}
/*<-----------------------------------Index-------------------------------------------->*/

/*<-----------------------------------Carta-------------------------------------------->*/

/*<---------------------------------Contacto------------------------------------------->*/

/*<---------------------------------Reservas------------------------------------------->*/

/*<---------------------------------Eventos-------------------------------------------->*/