@charset "utf-8";
/*<------------Estilo general, se aplica a todas las páginas--------------------------->*/
body{
    background-color: goldenrod;
}
header{
    background-color: rgb(153, 114, 17);
    padding: 5%;
    margin: -0.5%;
    
}
#titulo{
    text-align: center;
    text-shadow: gray 0 0 0 6px;
    font-size: 4em;
    letter-spacing: 3px;
    font-family: 'Dancing Script', cursive;
    background-color: rgb(143, 107, 18);
}
table{
    width: 100%;
    height: 6em;
    background-color: white;
}
td{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    border: 4px black;
}
.imagenes{
    background-color: rgb(223, 176, 58);
}
#local{

}
#img_local{
width: 700px;
height: 500px;
}
#hombre{

}
#img_hombre{
    width: 700px;
    height: 500px;
}
#cafe{

}
#img_cafe{
    width: 700px;
    height: 500px;
}

/*<-----------------------------------Index-------------------------------------------->*/

/*<-----------------------------------Carta-------------------------------------------->*/

/*<---------------------------------Contacto------------------------------------------->*/

/*<---------------------------------Reservas------------------------------------------->*/

/*<---------------------------------Eventos-------------------------------------------->*/